<form autocomplete="off" data-id="{{_id}}" data-type="{{type}}">
  {{> "genefunk2090.advancement-controls"}}
  <div class="form-group">
    <label>{{localize "DND5E.AdvancementAbilityScoreImprovementCap"}}</label>
    <div class="form-fields">
      <input type="number" name="configuration.cap" value="{{configuration.cap}}" min="1" step="1"
             placeholder="{{localize 'None'}}">
    </div>
    <p class="hint">{{localize "DND5E.AdvancementAbilityScoreImprovementCapHint"}}</p>
  </div>

  <ul class="ability-scores">
    {{> "genefunk2090.advancement-ability-score-control" points canAdjust=true}}
    <li class="hint">
      {{localize "DND5E.AdvancementAbilityScoreImprovementPointsHint"}}
    </li>
    {{#each abilities}}
      {{> "genefunk2090.advancement-ability-score-control" this canAdjust=true}}
    {{/each}}
  </ul>
</form>
