<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'GENEFUNK2090.ItemName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    {{#if system.toolType}}
                      {{lookup config.toolTypes system.toolType}}
                    {{else}}
                      {{localize "ITEM.TypeTool"}}
                    {{/if}}
                </li>
                <li>
                    <select name="system.rarity">
                        {{selectOptions config.itemRarity selected=system.rarity blank=""}}
                    </select>
                </li>
                <li>
                    {{> "genefunk2090.item-source"}}
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "GENEFUNK2090.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "GENEFUNK2090.Details" }}</a>
        <a class="item" data-tab="effects">{{ localize "GENEFUNK2090.Effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "genefunk2090.item-description"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            {{!-- Tool Status --}}
            <div class="form-group stacked">
                <label>{{ localize "GENEFUNK2090.ItemToolStatus" }}</label>
                <div class="form-fields">
                    <label class="checkbox">
                        <input type="checkbox" name="system.equipped" {{ checked system.equipped }}>
                        {{ localize "GENEFUNK2090.Equipped" }}
                    </label>
                </div>
            </div>

            {{!-- Tool Type --}}
            <div class="form-group">
                <label>{{ localize "GENEFUNK2090.ItemToolType" }}</label>
                <select name="system.toolType">
                    {{selectOptions config.toolTypes selected=system.toolType blank=""}}
                </select>
            </div>

            <div class="form-group">
                <label>{{ localize "GENEFUNK2090.ItemToolBase" }}</label>
                <select name="system.baseItem">
                    {{selectOptions baseItems selected=system.baseItem blank=""}}
                </select>
            </div>

            <div class="form-group">
                <label>{{localize "GENEFUNK2090.Attunement"}}</label>
                <select name="system.attunement" data-dtype="Number">
                    {{selectOptions config.attunements selected=system.attunement}}
                </select>
            </div>

            {{!-- Tool Proficiency --}}
            <div class="form-group">
                <label>{{ localize "GENEFUNK2090.ItemToolProficiency" }}</label>
                <select name="system.proficient" data-dtype="Number">
                    {{selectOptions config.proficiencyLevels selected=system.proficient
                                    blank=(localize "GENEFUNK2090.Automatic")}}
                </select>
            </div>

            {{!-- Ability Check --}}
            <div class="form-group">
                <label>{{ localize "GENEFUNK2090.DefaultAbilityCheck" }}</label>
                <select name="system.ability">
                    {{selectOptions config.abilities selected=system.ability labelAttr="label"
                                    blank=(localize "GENEFUNK2090.Default")}}
                </select>
            </div>

            {{!-- Tool Bonus --}}
            <div class="form-group">
                <label>{{ localize "GENEFUNK2090.ItemToolBonus" }}</label>
                <input type="text" name="system.bonus" value="{{system.bonus}}" data-formula-editor/>
            </div>

            {{!-- Chat Message Flavor --}}
            <div class="form-group stacked">
                <label>{{ localize "GENEFUNK2090.ChatFlavor" }}</label>
                <input type="text" name="system.chatFlavor" value="{{system.chatFlavor}}"/>
            </div>
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "genefunk2090.active-effects"}}
        </div>
    </section>
</form>
